
html {
    height: 100%;

}
body.skin-blue {
    font-size: 12px;
    font-family: "Open Sans",sans-serif;
    background: #fff;
    height: 100%;
}
#page-container {
    background: #fff;
    box-sizing: border-box;
    height: 100%;
}

.alert { font-size: 12px;
         width: 800px;
         padding: 10px 20px;
         position: absolute;
         top: 0px;
         z-index: 10000;
         left: 50%;
         margin-left: -400px;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
}
.alert .close {font-size: 18px;}
.alert-container {position: relative;}

#page-leftbar {
    background: none repeat scroll 0 0 #e6e7e8;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
    float: left;
    position: relative;
    white-space: nowrap;
    width: 230px;
}
#page-content {
    background: none repeat scroll 0 0 #f7f8fa;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
    margin-left: 230px;
    min-height: 650px;
}
#page-heading h1 {
    float: left;
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 0 30px;
    padding: 20px;
}
#page-heading .options {
    display: inline;
    float: right;
    position: relative;
    right: 50px;
    top: 16px;
}
#page-heading .breadcrumb {
    margin: 0;
}
#sidebar {
    margin: 10px 0 0;
    padding: 0 !important;
    white-space: normal;
    font-size: 14px;
}
#sidebar .divider {
    background-color: #d2d3d6;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
    height: 1px;
    margin: 4px 0;
    overflow: hidden;
}
#sidebar li a {
    /*color: #3f444c;*/
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;
    font-size: 13px;
}
#sidebar a:hover {
    background-color: #d2d3d6;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #3f444c;
}
#sidebar ul li.active:not(.open) > a {
    /*color: #3f444c;*/
    font-weight: 600;
}
#sidebar li.open > a:before {
    display: inline-block;
    float: right;
    font-family: FontAwesome;
    font-size: 14px !important;
    font-style: normal;
    font-weight: normal;
    padding-right: 0;
    text-align: right;
    text-decoration: inherit;
}
#sidebar > li.active > a:after {
    border-color: rgba(0, 0, 0, 0) #f7f8fa rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 9px 9px 9px 0;
    content: "";
    height: 0;
    margin-top: -9px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
}
#sidebar li.open > ul {
    display: block;
    float: none;
    position: relative;
}
#wrap {
    float: left;
    width: 100%;
}
#page-content .container {
    min-width: 940px;
    padding: 10px 50px;
    width: auto;
}
#sidebar > li.active > a {
    background: none repeat scroll 0 0 #595f69;
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
}
.shortcuts {
    text-align: left;
}
.shortcuts .shortcut {
    background: linear-gradient(to bottom, #ffffff, #eeeeee) repeat-x scroll 0 0 #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px 1em;
    min-height: 114px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 114px;
}
.shortcuts .shortcut .shortcut-icon {
    color: #555555;
    font-size: 32px;
    margin-bottom: 0.35em;
    margin-top: 0.25em;
    width: 100%;
}
.shortcuts .shortcut:hover {
    background: linear-gradient(to bottom, #fafafa, #e1e1e1) repeat-x scroll 0 0 #f0f0f0;
}
.shortcuts .shortcut:hover .shortcut-icon {
    color: #666666;
}
.shortcuts .shortcut-label {
    color: #666666;
    display: block;
    font-weight: 400;
    margin-top: 5px;
}
.action-nav-button {
    display: inline-block;
    margin-bottom: 15px;
    min-height: 114px;
    position: relative;
    text-align: center;
    width: 114px;
}
a.shortcut {
    position: relative;
}
#page .shortcut .label i {
    color: #ffffff;
    margin-right: 2px;
}
.shortcut .label {
    box-shadow: none;
    display: block;
    padding: 3px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.shortcut .cn {
    display: table-cell;
    height: 88px;
    text-align: center;
    vertical-align: middle;
    width: 114px;
}
.illustrationr {
    border: 1px solid #888888;
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 6px;
}
.navbar {
    margin-bottom: 0;
}

.form-group { margin-bottom: 5px; }

.tab-content > .tab-pane {padding-top: 20px;}

.body-simple {background: #e6e7e8;}

.body-simple .login-form {
    left: 50%;
    margin-left: -200px;
    margin-top: -186px;
    position: absolute;
    width: 400px;
    top: 42%;
}

.options-buttons {margin-bottom: 20px;}

#sidebar li.active > .dropdown-menu {display: block; animation: none;}
#sidebar li.active > ul {
    display: block;
    float: none;
    position: relative;
}

.reviews-preview a {color: #333}
.reviews-preview a:hover {text-decoration: none;}

.bootstrap-switch-id-company-email_notify > div > label, .bootstrap-switch-id-company-email_for_notifications_notify > div > label {
    font-size: 11px;
    line-height: 1em;
    padding: 0;
    position: relative;
    top: 4px;
}


.sortable-images-item {display: inline-block; margin: 0 5px 5px 0; position: relative;}
.sortable-images-item:hover .sortable-images-item-remove {display: block}
.sortable-images-item .sortable-images-item-remove {  background: rgba(0, 0, 0, 0.39) none repeat scroll 0 0;
                                                      border-radius: 2px;
                                                      color: #fff;
                                                      cursor: pointer;
                                                      font-size: 17px;
                                                      padding: 4px;
                                                      position: absolute;
                                                      right: 3px;
                                                      top: 3px;
                                                      display: none;
}
.sortable-images-item img {width: 200px; padding-bottom: 8px;}
.sortable-images-item .form-control {width: 200px;}
.col-checkbox {width: 1px}
.col-id {width: 70px}
.col-min {width: 1px}
.col-date {width: 134px;}
.col-control.col-control-2 {width: 1px; white-space: nowrap; word-wrap: normal; padding: 3px 6px !important}
.grid-view input[type='checkbox']{margin-top: 2px;}
.grid-view .table tbody td{padding: 5px 8px 3px 8px}
.grid-view .form-control {    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;}

*[data-toggle="popover"] {cursor: pointer}

.popover-content {overflow: hidden;}


.tile {
    background-color: #279fe0;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 15px;
    transition: all 1s ease 0s;
}
.tile:hover {
    opacity: 0.95;
}
.tile a {
    color: #ffffff;
}
.tile-heading {
    background-color: #1e91cf;
    color: #fff;
    padding: 5px 8px;
    text-transform: uppercase;
}
.tile .tile-heading .pull-right {
    opacity: 0.7;
    transition: all 1s ease 0s;
}
.tile:hover .tile-heading .pull-right {
    opacity: 1;
}
.tile-body {
    color: #ffffff;
    line-height: 48px;
    padding: 15px;
}
.tile-body a{
    display: block; width: 100%; height: 100%;
}
.tile .tile-body i {
    font-size: 50px;
    opacity: 0.3;
    transition: all 1s ease 0s;
}
.tile:hover .tile-body i {
    color: #ffffff;
    opacity: 1;
}
.tile .tile-body h2 {
    font-size: 42px;
}
.tile-footer {
    background-color: #3da9e3;
    padding: 5px 8px;
}