
.icon {
    background: transparent url("../img/icons.png") no-repeat scroll 0 0;
    display: inline-block;
}
.file i {
    background: transparent url("../img/icons.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    width: 24px;
}
.XLS i {
    background-position: 0 -22px;
}
.PDF i {
    background-position: -24px -22px;
}
.DOC i {
    background-position: -49px -22px;
}
.icon_metro {
    background-position: -554px -164px;
    height: 12px;
    width: 18px;
}
.icon_metro.dark_blue {
    background-position: -554px -176px;
}
.icon_metro.green {
    background-position: -554px -236px;
}
.icon_pointer {
    background-position: 0 -109px;
    height: 71px;
    width: 53px;
}
.icon_option_1 {
    background-position: 0 -537px;
    height: 76px;
    margin-bottom: 5px !important;
    width: 100px;
}
.icon_option_2 {
    background-position: 0 -613px;
    height: 116px;
    margin-bottom: -5px !important;
    width: 122px;
}
.icon_option_3 {
    background-position: 0 -729px;
    height: 81px;
    width: 105px;
}
.icon_option_4 {
    background-position: 11px -815px;
    height: 81px;
    width: 105px;
}
.icon_i, .icon_s, .icon_c {
    height: 30px;
    width: 32px;
}
.icon_i_fence {
    background-position: -271px 0;
}
.icon_i_bus_stop {
    background-position: -271px -41px;
}
.icon_i_kindergarten {
    background-position: -271px -82px;
}
.icon_i_playground {
    background-position: -271px -123px;
}
.icon_i_school {
    background-position: -271px -164px;
}
.icon_i_crossfit {
    background-position: -271px -205px;
}
.icon_i_fitness {
    background-position: -271px -205px;
}
.icon_i_bank {
    background-position: -271px -246px;
}
.icon_i_store {
    background-position: -271px -287px;
}
.icon_i_cafe {
    background-position: -271px -328px;
}
.icon_i_zoo {
    background-position: -271px -369px;
}
.icon_i_pool {
    background-position: -271px -410px;
}
.icon_i_skating {
    background-position: -271px -451px;
}
.icon_i_helicopter {
    background-position: -271px -492px;
}
.icon_i_pharmacy {
    background-position: -271px -533px;
}
.icon_i_tracks {
    background-position: -271px -574px;
}
.icon_i_bakery {
    background-position: -271px -615px;
}
.icon_i_terminal {
    background-position: -271px -656px;
}
.icon_i_beauty_shop {
    background-position: -271px -697px;
}
.icon_i_water {
    background-position: -271px -409px;
}
.icon_s_taxi {
    background-position: -391px 0;
}
.icon_s_school_bus {
    background-position: -391px -41px;
}
.icon_s_home_food {
    background-position: -391px -82px;
}
.icon_s_security {
    background-position: -391px -123px;
}
.icon_s_cloakroom {
    background-position: -391px -164px;
}
.icon_s_staff {
    background-position: -391px -205px;
}
.icon_c_gas {
    background-position: -511px 0;
}
.icon_c_electricity {
    background-position: -511px -41px;
}
.icon_c_water_supply {
    background-position: -511px -82px;
}
.icon_c_sewerage {
    background-position: -511px -123px;
}
.icon_c_ventilation {
    background-position: -511px -164px;
}
.icon_c_garage {
    background-position: -511px -208px;
}
.icon_c_operated_roof {
    background-position: -511px -290px;
}
.icon_c_cellar {
    background-position: -511px -250px;
}
.icon_phone {
    background-position: -75px -82px;
    height: 23px;
    width: 14px;
}
.icon_arrow {
    cursor: pointer;
    height: 56px;
    margin-top: -28px;
    position: absolute;
    top: 50%;
    width: 33px;
    z-index: 2;
}
.icon_arrow::before {
    background: rgba(0, 0, 0, 0) url("/f/1/global/icons.png") no-repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.4s ease 0s;
    width: 100%;
}
.icon_arrow:hover::before {
    opacity: 1;
}
.icon_arrow_previous {
    background-position: 0 -234px;
    left: 110px;
}
.icon_arrow_previous:hover {
    background: rgba(0, 0, 0, 0) url("/f/1/global/arrs_hover.png") no-repeat scroll 0 2px;
    height: 56px;
    width: 33px;
}
.icon_arrow_next:hover::before, .icon_arrow_previous:hover::before {
    content: "";
    display: none;
}
.icon_arrow_previous i {
    background: #000 none repeat scroll 0 0;
    border-radius: 100px;
    height: 60px;
    left: -7px;
    opacity: 0;
    position: absolute;
    top: -5px;
    transition: all 0.5s ease 0s;
    width: 60px;
    z-index: 1;
}
.icon_arrow_next i {
    background: #000 none repeat scroll 0 0;
    border-radius: 100px;
    height: 60px;
    left: -7px;
    opacity: 0;
    position: absolute;
    top: -5px;
    transition: all 0.5s ease 0s;
    width: 60px;
    z-index: 1;
}
.icon_arrow_next:hover i {
    height: 80px;
    left: -24px;
    opacity: 0.4;
    top: -15px;
    width: 80px;
}
.icon_arrow_previous:hover i {
    height: 80px;
    left: -20px;
    opacity: 0.4;
    top: -13px;
    width: 80px;
}
.icon_arrow_previous::before {
    background-position: 0 -810px;
}
.icon_arrow_next {
    background-position: -33px -234px;
    right: 110px;
}
.icon_arrow_next:hover {
    background: rgba(0, 0, 0, 0) url("/f/1/global/arrs_hover.png") no-repeat scroll -32px 1px;
    height: 56px;
    width: 33px;
}
.icon_arrow_next::before {
    background-position: -53px -810px;
}
.icon_arrow2 {
    height: 24px;
    width: 17px;
}
.icon_arrow2_previous {
    background-position: 0 -297px;
}
.icon_arrow2_next {
    background-position: -18px -297px;
}
.icon_arrow3 {
    height: 8px;
    width: 14px;
}
.icon_arrow3_up {
    background-position: -141px -298px;
}
.icon_arrow3_down {
    background-position: -141px -307px;
}
.icon_category {
    background-position: -52px -56px;
    height: 19px;
    width: 22px;
}
.icon_distance {
    background-position: 0 -342px;
    height: 20px;
    width: 18px;
}
.icon_faq {
    background: transparent url("icons_faq.png") no-repeat scroll 0 0;
    height: 70px;
    width: 70px;
}
.icon_faq_2 {
    background-position: -70px 0;
}
.icon_faq_3 {
    background-position: -140px 0;
}
.icon_faq_list {
    background-position: -122px -82px;
    height: 11px;
    width: 16px;
}
.icon_rss {
    background-position: -32px -347px;
    height: 15px;
    width: 15px;
}
.icon_materials {
    background-image: url("icons_materials.png");
    height: 59px;
    width: 59px;
}
.icon_materials_1:hover, .selected .icon_materials_1:hover {
    background-position: 0 0;
}
.icon_materials_1:hover {
    background-position: 0 -121px;
}
.selected .icon_materials_2:hover, .icon_materials_2 {
    background-position: -61px 0;
}
.icon_materials_2:hover {
    background-position: -61px -121px;
}
.selected .icon_materials_3:hover, .icon_materials_3 {
    background-position: -122px 0;
}
.icon_materials_3:hover {
    background-position: -122px -121px;
}
.selected .icon_materials_4:hover, .icon_materials_4 {
    background-position: -183px 0;
}
.icon_materials_4:hover {
    background-position: -183px -121px;
}
.icon_tail {
    background-position: 0 -369px;
    height: 24px;
    width: 17px;
}
.icon_ok {
    background-position: -38px -369px;
    height: 57px;
    width: 57px;
}
