@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic&subset=latin,cyrillic);
@import url(icons.css);

#admin-menu {
    background-color: #fff;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    box-shadow: 2px 1px 4px #aaa;
    min-width: 170px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
    list-style: none;
    padding: 0;
}

#admin-menu a {
    color: #666;
    display: block;
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
    line-height: 1.2em;
}

#page {
    height: auto !important;
    min-height: 100%;
}

html * {
    max-height: 99999px;
}
img {
    max-width: 100%;
}
.container {
    width: 1200px;
}

html.html-simple {
    min-width: auto !important;
}

.no-gutter {
    margin: 0;
}

.no-gutter [class*="-1"],
.no-gutter [class*="-2"],
.no-gutter [class*="-3"],
.no-gutter [class*="-4"],
.no-gutter [class*="-5"],
.no-gutter [class*="-6"],
.no-gutter [class*="-7"],
.no-gutter [class*="-8"],
.no-gutter [class*="-9"],
.no-gutter [class*="-10"],
.no-gutter [class*="-11"],
.no-gutter [class*="-12"] {
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    color: #131417;
    font-size: 18px;
    background-color: #f4f4f4;
}

*:focus,
*:active,
.btn:focus,
.btn:active {
    outline: none !important;
}

a:focus,
a:active {
    outline: none;
    text-decoration: none;
}

a {
    color: #1e6af5;
}

a:hover,
a:active,
a:focus {
    color: #1e6af5
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    color: #fff;
    background-color: #131418;
}

footer a {
    color: #fff;
}

.footer-social {
    text-align: right;
    padding-bottom: 5px;
}

.social-ico {
    display: inline-block;
    width: 31px;
    height: 30px;
    margin-right: 0px;
    background: url("../img/ico-social.png") no-repeat;
}

.social-ico.social-ico-vk {
    background-position: 0px 0;
}

.social-ico.social-ico-fb {
    background-position: -38px 0;
}

.social-ico.social-ico-gp {
    background-position: -77px 0;
}

.social-ico.social-ico-ok {
    background-position: -151px 0;
}

.social-ico.social-ico-tw {
    background-position: -114px 0;
}

.footer-menu {
    padding-bottom: 10px;
}
.footer-phones {
    margin-bottom: 15px;
}
.footer-phones a {
    display: inline-block;
    margin: 0 15px 5px 0;
    font-weight: 1.4em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    padding-bottom: 5px;
}

.footer-menu ul li a {
}

.footer-second-line {
    border-top: solid 1px #6d6e70;
    padding: 10px 0;
}

.footer-second-line p {
    margin-bottom: 0;
}

.footer-first-line {
    padding-top: 30px;
}

.header-first-line {
    background-color: #131418;
}

.privacy-text {
    text-align: justify;
    font-size: 12px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}

.btn.btn-lg {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    padding: 6px 12px;
}

.btn.btn-blue {
    color: #fff;
    border: solid 1px #095AE7;
    background: rgb(56, 146, 246);
    background: -moz-linear-gradient(top, rgba(56, 146, 246, 1) 0%, rgba(19, 102, 246, 1) 100%);/* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(56, 146, 246, 1) 0%, rgba(19, 102, 246, 1) 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(56, 146, 246, 1) 0%, rgba(19, 102, 246, 1) 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3892f6', endColorstr='#1366f6', GradientType=0);/* IE6-9 */
}

.btn.btn-green {
    color: #fff;
    border: solid 1px #159108;
    background: #17c82b;
    background: -moz-linear-gradient(top, #17c82b 0%, #1c830b 100%);
    background: -webkit-linear-gradient(top, #17c82b 0%, #1c830b 100%);
    background: linear-gradient(to bottom, #17c82b 0%, #1c830b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17c82b', endColorstr='#1c830b', GradientType=0);
}

.btn.btn-sm {
    font-size: 14px;
    min-width: 140px;
}

.btn i.ico-plus {
    font-size: 60px;
    font-weight: normal;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.header-search {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 1px;
}

.header-search-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    font-size: 27px;
    line-height: 38px;
    padding-right: 9px;
}

.header-search-input {
    width: 100%;
    border: none;
    padding: 5px 41px 5px 10px;
    line-height: 34px;
    font-size: 18px;
    margin: 0px 0 0 0;
}

.header-first-line-menu-item-link {
    color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 45px;
}

.header-first-line-menu-item-link:active,
.header-first-line-menu-item-link:focus,
.header-first-line-menu-item-link:hover {
    color: #dcdcdc;
}

.header-first-line-menu-item {
    display: inline-block;
    border-left: solid 2px #808080;
    min-height: 60px;
    vertical-align: top;
    padding: 7px 20px;
}

.header-first-line-menu {
    text-align: right;
    padding: 7px 0;
    position: relative; /*tanya*/
}

.header-first-line-menu-adress {

    /*tanya*/
    color: #fff;
    position: absolute;
    left: 148px;
    width: 204px;
    min-height: 60px;
    font-size: 15px;
    line-height: 15px;
}

.header-first-line-menu-adress-info {

    /*tanya*/
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
}

.header-first-line-menu-item:last-child {
    padding-right: 0;
}

.header-first-line-menu-item-link:hover {
    color: #dcdcdc;
}

footer a:hover {
    color: #fff;
}

h1,
.like-h1 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0;
}

h2,
.like-h2 {
    font-size: 24px;
    padding: 0 0 20px 0;
    font-weight: normal;
    margin: 0;
    text-align: left
}

.like-h2.style2,
h2.style2 {
    font-weight: bold;
    color: #1c8a0e;
}

h3,
.like-h3 {
    font-size: 16px;
    font-weight: bold;
    color: #3a3a3a;
    padding: 0 0px 20px 0;
    text-transform: uppercase;
}

.information {
    margin-bottom: 40px;
}

.header-second-line {
    background: url("../img/header-bg.jpg");
    min-height: 200px;
}

.header-slogan {
    text-align: center;
    padding: 20px 0 30px 0;
    font-size: 48px;
    color: #fff;
}

.header-slogan-show-more {
    text-align: center;
}

.header-third-line {
    background: #FFF;
    box-shadow: 0 -2px 6px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}


/* mainmenu */

.header-menu {
    position: relative;
    display: flex;
    align-items: center;
}

.header-menu > div {
    text-align: center;
    flex: 1;
}

.header-menu > div > a {
    color: #808080;
    display: block;
    padding: 18px 5px 15px 5px;
    text-transform: uppercase;
    border-bottom: solid 3px transparent;
    white-space: nowrap;
}

.header-menu > div > a:hover {
    text-decoration: none;
}

.header-menu > div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header-menu > div:hover a {
    border-bottom-color: #d8d8d8;
}

.header-menu div:hover .dropdown {
    display: block;
}

.header-menu .dropdown {
    background-color: #d8d8d8;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    display: none;
    z-index: 20;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu ul li {
    display: inline-block;
}

.header-menu ul li a {
    display: block;
    padding-right: 20px;
    font-size: 14px;
}

.header-menu > div.with-child > a:after {
    content: "";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 10px;
    font-size: 22px;
}

.header-menu .with-child:hover > ul {
    display: block;
}

.header-menu div.with-child > ul {
    display: none;
    list-style: none;
    padding: 0;
    z-index: 1;
    background: #fff;
    border: solid 1px gray;
    position: absolute;
    width: 100%;
    left: 0;
}

.offer-big-item {
    background-color: #fff;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
}

.offer-big-item-image img {
    height: 200px;
    background-color: green;
    width: 100%;
}

.offer-big-item-descr {
    border-top: solid 1px #e7e7e7;
    margin: 0px 10px;
    font-size: 14px;
    color: #808080;
    padding: 3px 0;
}

.offer-big-item-footer {
    background-color: #f6f6f6;
    padding: 12px 15px;
    border-top: solid 1px #e7e7e7;
    font-size: 16px;
    color: #555555;
}

.offer-big-item-like {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.offer-big-item-views {
    display: inline-block;
    vertical-align: middle;
}

.offer-big-item-like i {
    color: #343434;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.offer-big-item-views i {
    vertical-align: middle;
    font-size: 20px;
    position: relative;
    top: -2px;
    color: #999999;
    margin-right: 3px;
}

.offer-big-item-price {
    font-size: 24px;
    font-weight: bold;
    color: #261b23;
    margin: 0 10px;
}

.price-value.price-value-from .offer-big-item-price {
    margin: 0;
}

.offer-big-item-price span {
    font-size: 14px;
    color: #808080;
    font-weight: normal;
    padding-left: 4px;
}

.offer-big-item-title {
    padding: 10px 10px;
    font-weight: bold;
    min-height: 4em;
}

.margin-left-10px {
    margin-left: 10px;
}

.offer-big-item-title-village {
    padding: 10px 10px;
    font-weight: bold;
}

.slick .slick-arrow.slick-next::before {
    content: "";
    font-size: 40px;
}

.slick .slick-arrow.slick-prev::before {
    content: "";
    font-size: 40px;
}

.slick .slick-arrow.slick-prev {
    left: -50px;
}

.slick .slick-arrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #d8d8d8;
    font: 0 FontAwesome;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.slick .slick-arrow.slick-next {
    right: -40px;
}

.carousel-l .item {
    position: relative
}

.carousel-l-item-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(20, 21, 24, 0.7);
    color: #f4f4f4;
    padding: 10px 20px 30px 20px;
    min-height: 5.1em;
    font-size: 14px;
}

.carousel-l-item-description-title {
    color: #f4f4f4;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.carousel-l-item-description-price {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
    color: #73cfff;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.carousel-l-item-description-readmore {
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-l-item-description-readmore {
    font-size: 14px;
    font-weight: normal;
    color: #73cfff;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: underline;
}

.carousel-l-item-description-readmore:hover {
    color: #73cfff;
}

.breadcrumb {
    margin: 0 0 25px 0;
    padding: 0;
    background: none;
}

.breadcrumb li {
}

.breadcrumb li a {
    color: #4f4f4f;
    text-decoration: underline
}

.block.block-white {
    background: #fff;
}

.block.padding {
    padding: 30px 30px;
}

.block.shadow {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
}

.shadow {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
}

.block {
    margin-bottom: 30px;
    border-radius: 3px;
}

.realt-info {
    color: #686868;
    font-size: 16px;
}

.options-title {
    font-size: 18px;
    padding-bottom: 10px;
    color: #3a3a3a
}

.options-table {
    width: 100%;
    margin-bottom: 20px;
}

.options-table td {
    vertical-align: top;
}

.options-row {
}

.options-row-label {
}

.options-row-label div {
    background: url("../img/dot.png") left bottom repeat-x;
}

.options-row-label span {
    background-color: #fff;
}

.options-row-value {
    padding-left: 10px;
}

.offer-middle-item {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.offer-middle-item  table {
    width: 100%
}

.offer-middle-item  table td {
    vertical-align: top;
}

.offer-middle-item-title {
    font-size: 14px;
    font-weight: bold;
    color: #303030;
    padding: 0 0 20px
}

.offer-middle-item-title a {
    color: #303030;
    text-decoration: underline
}

.offer-middle-item-price {
    font-size: 14px;
    font-weight: bold;
    color: #303030;
    text-align: right;
    padding: 0 0 20px;
    white-space: nowrap
}

.offer-middle-item-image {
    width: 120px;
}

.offer-middle-item-image img {
    max-width: 120px;
    width: 100%;
}

.offer-middle-item-descr {
    color: #606060;
    font-size: 14px;
    padding-left: 20px;
}

.offer-middle-item-descr .btn {
    margin-top: 15px;
}

.list1 {
}

.list1-header {
    border-bottom: 1px solid #c4c4c4;
    color: #797979;
    font-size: 21px;
    padding: 15px 0;
}

.list1-items {
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    color: #808080;
}

.list1-items li {
    margin-bottom: 5px;
}

.list1-items li a {
}

.realt-slides .slides_container {
    overflow: hidden;
    position: relative;
}

.realt-slides .slides_container img {
    height: 516px;
    max-width: none;
}

.realt-slides .pagination {
    padding-top: 0;
    margin-top: 0;
}

.realt-slides .pagination li {
    float: left;
    width: 100px;
}

.realt-slides .pagination li a img {
    opacity: 0.5
}

.realt-slides .pagination li a {
    display: block;
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
}

.realt-slides .pagination img {
    width: 100%;
}

.realt-slides .pagination li.current a {
}

.realt-slides .pagination li.current a img {
    opacity: 1
}

.realt-info-price {
    color: #131418;
    padding-bottom: 20px;
}

.realt-info-price-label {
    font-size: 21px;
}

.realt-info-price .price-value {
    font-size: 30px;
    padding-left: 10px;
}

.realt-info-price .price-currency {
    font-size: 21px;
    padding-left: 10px;
}

.realt-info-contacts {
}

.realt-info-contacts-type {
    font-size: 14px;
    color: #4f4f4f;
    margin-bottom: 0px;
}

.realt-info-contacts-name {
    font-size: 16px;
    color: #383838;
    margin-bottom: 20px;
}

.realt-info-contacts-phone {
    background: rgba(0, 0, 0, 0) url("../img/ico-phone.png") no-repeat scroll 16px center;
    border: 1px solid #1c8a0e;
    border-radius: 100px;
    color: #251b23;
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    padding: 0 20px 0 45px;
    margin-bottom: 25px;
    min-width: 222px;
}

.realt-info-signup-for-view {
    background: rgba(0, 0, 0, 0) url("../img/ico-phone.png") no-repeat scroll 16px center;
    border: 1px solid #1c8a0e;
    border-radius: 100px;
    color: #251b23;
    display: inline-block;
    font-size: 15px;
    line-height: 36px;
    padding: 0 20px 0 45px;
    margin-bottom: 25px;
    cursor: pointer
}

.realt-info-contacts-row {
    color: #131418;
    font-size: 18px;
    padding-bottom: 10px;
}

.realt-info-contacts-row.address {
    background: rgba(0, 0, 0, 0) url("../img/ico-location.png") no-repeat scroll 5px 5px;
    padding-left: 30px;
}

.realt-info-contacts-row.email {
    background: rgba(0, 0, 0, 0) url("../img/ico-direction.png") no-repeat scroll 0 5px;
    padding-left: 30px;
}

.realt-info-form {
    margin-top: 20px;
}

.realt-info-form .form-control {
    border-color: #e2e2e2;
    border-radius: 2px;
}

.realt-info-form .btn {
    width: 100%;
}

.h2-badge-container {
    position: relative;
}

.h2-badge-container h2,
.h2-badge-container .like-h2 {
    display: inline-block
}

.h2-badge-container .badge {
    position: relative;
    top: -3px;
    margin-left: 10px
}

.badge {
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
}

.badge.badge-green {
    background-color: #1c8a0e;
    color: #fff;
}

.options-row-simple {
    font-size: 16px;
    padding-bottom: 2px;
}

.options-row-simple-label {
}

.options-row-simple-value {
}

.offer-large-item {
}

.offer-large-item table {
    width: 100%;
}

.offer-large-item td {
    vertical-align: top;
}

.offer-large-item-image {
    position: relative;
}

.offer-large-item-image .badge {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 3
}

.offer-large-item-image .images-count {
    bottom: 10px;
    left: 10px;
    position: absolute;
    z-index: 3;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-weight: bold;
    line-height: 24px;
}

.offer-large-item-image .images-count i {
    font-size: 24px;
    line-height: 24px;
    padding-right: 5px;
}

.offer-large-item-image .carousel-2 .item img {
    width: 100%;
}

.offer-large.grid {
}

.offer-large.grid .offer-large-item {
    margin-bottom: 30px;
}

.offer-large.grid .offer-large-item-title {
    line-height: 1em;
    padding: 10px 0; /* min-height: 2.9em;*/
}

.offer-large.grid .offer-large-item-image {
    min-height: 100px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.offer-large.grid .offer-large-item-image img {
    width: 100%;
}
.offer-large.grid .offer-large-item-image .badge {
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 3
}

.offer-large.grid .offer-large-item-image .images-count {
    bottom: 45px;
    left: 45px;
    position: absolute;
    z-index: 3;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-weight: bold;
    line-height: 24px;
}

.offer-large.grid .offer-large-item-image .images-count i {
    font-size: 24px;
    line-height: 24px;
    padding-right: 5px;
}

.carousel-3 {
    width: 100%
}

.offer-large.grid .offer-large-item-image .carousel-3 .item img {
    width: 100%;
}

.carousel-3 .slick .slick-arrow.slick-next {
    right: 10px;
}

.carousel-3 .slick .slick-arrow.slick-prev {
    left: 10px;
}

.carousel-3 .slick .slick-arrow {
    color: #fff;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.43)
}

.offer-large-sub-left {
}

.offer-large-item-title {
    color: #1c8a0e;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.8em;
    padding: 10px 0 15px;
}

.offer-large-item-title a {
    color: #1c8a0e
}

.offer-large-item-type {
    font-size: 16px;
    padding-bottom: 10px;
}

.offer-large-item-description {
    font-size: 16px;
    color: #404040;
    line-height: 1.2em;
    margin-bottom: 10px;
}

.offer-large-item-description-label {
    text-transform: uppercase
}

.offer-large-item-price {
    padding-bottom: 20px;
    font-size: 16px;
    color: #261b24
}

.offer-large-item-price-label {
}

.offer-large-item-price-value {
    font-size: 18px;
    font-weight: bold
}

.offer-large-links {
    font-size: 14px;
    list-style: none;
    padding: 0;
}

.offer-large-links li {
    display: inline-block;
}

.offer-large-links a {
    display: inline-block;
}

.offer-large-links li:after {
    content: "/";
    color: #1e6af5;
    padding: 0 1px 0 5px;
}

.offer-large-links li:last-child:after {
    content: ""
}

.carousel-2 {
    
}

.carousel-2 .slick .slick-arrow {
    z-index: 1;
    color: #fff
}

.carousel-2 .slick .slick-arrow.slick-next {
    right: 15px;
}

.carousel-2 .slick .slick-arrow.slick-prev {
    left: 10px;
}

.filter {
    font-size: 15px;
    color: #151517;
}

.filter .filter-group {
    display: inline-block;
    vertical-align: top;
}

.filter-row {
    margin-bottom: 20px;
}

.filter-group-body {
    padding-right: 20px;
}

.filter-group:last-child .filter-group-body {
    padding-right: 0px;
}

.filter-group-body .checkbox-inline {
    margin-right: 7px;
}

.filter-group-body .form-control {
}

.filter .form-control.size2 {
    width: 90px;
}

.filter .form-control.size1 {
    width: 70px;
}

.filter label {
    font-weight: normal;
    margin-right: 15px;
}

.filter input[type='checkbox'] {
    margin-right: 4px;
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
}

.filter-group-title {
    margin-bottom: 5px;
}

.gray {
    color: #999999
}

a.dotted {
    border-bottom: 1px dotted;
    display: inline-block;
    text-decoration: none;
}

.realt-add-to-bookmark {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 16px;
}

.realt-add-to-bookmark i {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #9f9f9f;
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
    padding: 5px;
}

.realt-add-to-bookmark:hover {
    color: #4f4f4f;
    text-decoration: none;
}

.realt-add-to-bookmark:hover i {
    color: #4f4f4f;
    border-color: #7f7f7f
}

.params {
    color: #131418;
    font-size: 18px;
    margin-bottom: 25px;
}

.params-row {
    padding-bottom: 5px;
}

.params-row-label {
    display: inline-block;
    padding-right: 10px;
}

.params-row-value {
    font-weight: bold;
}

.params-row-value.price {
    font-weight: normal
}

.params-row-value.price .price-value {
    font-weight: bold
}

.header-collapse-menu {
}

.header-collapse-menu .panel {
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.header-collapse-menu .panel .list1-items {
    margin: 0;
}

.header-collapse-menu-line {
    background: #fff
}

.realt-image {
}

.realt-image img {
    width: 100%;
}

.modal-add-review {
}

.modal-add-review .modal-content {
    padding: 30px 30px 10px 30px;
}

.reviews-list-item-name {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.reviews-list-item-container {
    border-bottom: solid 1px #bcbcbc;
    padding: 30px 0;
}

.reviews-list-item-container:first-child {
    padding-top: 0;
}

.reviews-list-item-container:last-child {
    border-bottom: none;
}

.reviews-list-item-date {
    font-size: 14px;
}

.reviews-list-item-text {
    font-size: 14px;
    padding-top: 10px;
}

.reviews-list-tabs {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 0;
}

.reviews-list-tabs li {
    display: inline-block;
    font-size: 16px;
    background: #fff;
}

.reviews-list-tabs li:first-child {
    border-top-left-radius: 5px;
}

.reviews-list-tabs li:last-child {
    border-top-right-radius: 5px;
}

.reviews-list-tabs li.active {
    background: #D7D7D7;
}

.reviews-list-tabs li a,
.reviews-list-tabs li span {
    display: block;
    padding: 10px 15px;
    color: #131417
}

.reviews-list-tabs li a:hover {
    text-decoration: none;
}

.rating-total {
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
}

.rating-total td {
    text-align: center;
    padding: 5px 10px;
}

.rating-total-value {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}

.rating-total-label {
    font-size: 16px;
}

.rating-total-col1 {
    color: #fff;
    background-color: #1c8a0e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rating-total-col2 {
    color: #fff;
    background-color: #1c8a0e;
}

.rating-total-col3 {
    color: #151517;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff
}

.rating-total-extended-container {
    display: inline-block
}

.rating-total-extended-headers {
    font-size: 18px;
    margin-left: 30px;
}

.rating-total-extended-headers td {
    padding: 0 30px 20px 0
}

.rating-total-extended-headers td {
    padding: 0 25px 15px 0;
}

.rating-total-extended-body {
    font-size: 14px;
}

.rating-total-extended-body td {
    padding: 0 30px 20px 0
}

.rating-total-extended-col1 {
    width: 250px;
}

.rating-total-extended-col2 {
    width: 170px;
}

.rating-total-extended-col3 {
    width: 150px;
}

.rating-total-extended-col4 {
    width: 125px;
}

.rating-total-extended-col4 img {
    position: relative;
    top: -1px;
}

.rating-total-extended-container .block {
}

.add-review-ratings {
    font-size: 12px;
}

.add-review-ratings td {
    padding-bottom: 16px;
}

.options-simple2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.options-simple2-row-label {
    display: inline-block;
    font-weight: bold;
    width: 130px;
}

#view-request-form .control-label {
    display: none;
}

.category-view-type-selector-block {
    display: inline-block
}

.category-order-selector {
    display: inline-block
}

.category-controls {
    position: relative;
}

.category-view-type-selector-block {
    color: #818181
}

.category-view-type-selector {
    height: 33px;
    width: 33px;
    background: no-repeat center center #fff;
}

.category-view-type-selector-grid {
    background-image: url("../img/category-view-type-selector-grid.png") !important;
}

.category-view-type-selector-list {
    background-image: url("../img/category-view-type-selector-list.png") !important;
}

.category-view-type-selector.active {
    box-shadow: none
}

.village-ads-container {
    font-size: 16px;
}

.village-ads-headers {
    margin: 10px;
    font-weight: bold;
}

.village-ads-container .block {
}

.village-ads-body td {
    padding: 10px 10px;
}

.village-ads-col1 {
    width: 100px;
}

.village-ads-col2 {
    width: 100px;
}

.village-ads-col3 {
    width: 100px;
}

.village-ads-col4 {
    width: 100px;
}

.village-ads-col5 {
    width: 175px;
}

.village-ads-col6 {
}

.village-ads-col7 {
    width: 100px;
}

.village-ads-image img {
    width: 100%;
    height: 80px;
    background: gray;
}

.col-controls {
    text-align: center;
}

.col-controls>div {
    padding-bottom: 10px;
}

.col-controls>div:last-child {
    padding-bottom: 0px;
}

.modal-view-request .modal-content {
    padding: 20px;
}

.village-ads-container.grid .village-ads-body {
    margin-bottom: 40px;
}

.village-ads-container.grid .village-ads-image img {
    height: 235px;
}

.village-ads-container.grid .block {
    margin-bottom: 10px;
}

.pagination {
    border-radius: 0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #e8e8e8;
    color: #646464;
}

.pagination > li {
}

.pagination > li > a,
.pagination > li > span {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21);
    color: #646464;
    margin: 0 5px;
    min-width: 2em;
    padding: 4px 7px 5px 7px;
}

.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:focus {
    color: #646464;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-radius: 0;
}

.rating-total-extended-body .rating-total-extended-col4 {
    padding-right: 0;
}

.review-rating-stars {
    font-size: 0;
}

.add-review-ratings-col2 {
    padding-left: 10px;
}

.rating-autostars {
    font-size: 0;
}

.alert {
    padding: 5px 15px;
}

.calendar .navigation {
    padding: 0px 0 10px 20px;
    list-style: none;
}

.calendar .navigation li {
    padding: 0px 0 5px 0px;
}

.actions-list-item-image img {
    width: 100%
}

.actions-list-item-title {
    padding: 0 5px 10px 5px;
    min-height: 3.4em
}

.actions-list-item-preview {
    padding: 0 5px 10px 5px;
    min-height: 8em
}

.category-listing-container {
    position: relative
}

.category-listing-container .category-description-bottom {
    position: absolute;
    bottom: 0;
}

.subcategories-list {
    height: 352px;
    overflow: hidden;
}

.subcategories-list.visible-5 {
    height: 216px;
}

.subcategories-list.visible-10 {
    height: 352px;
}

.subcategories-list.expanded {
    height: auto;
}

.subcategories-list-control {
    border-bottom: 1px dotted;
    color: #1e6af5;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
}

.village-progress-carousel {
    margin: 0 29px;
}

.village-townhouse-tabs {
}

.village-townhouse-tabs .nav.nav-tabs {
}

.village-townhouse-tabs .nav.nav-tabs a {
    padding: 9px 8px;
    color: #000000
}

.village-townhouse-tabs .nav.nav-tabs .active a {
    color: #1c8a0e
}

.village-townhouse-tabs .tab-content {
    padding: 9px 8px;
    background-color: #fff;
    border: solid 1px  #ddd;
    border-top: 0;
}

.village-townhouse-params {
    color: #131418;
    font-size: 16px;
    margin-bottom: 25px;
}

.village-townhouse-params-row {
    padding-bottom: 2px;
}

.village-townhouse-params-row-label {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    color: #261b24;
    width: 175px;
}

.village-townhouse-params-row-value {
}

.village-townhouse-params-row-value.price {
    font-weight: normal
}

.village-townhouse-params-row-value.price .price-value {
    font-weight: bold
}

.carousel-2 {
    overflow: hidden
}

.carousel-2 .slick .slick-arrow {
    z-index: 1;
    color: #fff
}

.carousel-2 .slick .slick-arrow.slick-next {
    right: 15px;
}

.carousel-2 .slick .slick-arrow.slick-prev {
    left: 10px;
}

.add-to-compare {
    display: inline-block;
    padding-left: 21px;
    background: url("../img/ico-compare.png") left center no-repeat;
    font-size: 16px;
}


.village-townhouse-view-buttons {
}

.village-townhouse-view-buttons a {
    font-weight: bold;
    color: #261b24
}

.village-townhouse-view-buttons a img {
    padding-right: 10px;
}

.village-townhouse-params-ext {
}

.village-townhouse-params-ext .item {
    display: inline-block;
    padding: 5px 0 5px 43px;
    position: relative;
}

.village-townhouse-params-ext .item .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.village-townhouse-params-ext2 {
    font-size: 16px;
}

.village-townhouse-params-ext2-row td {
    padding: 4px 0;
    vertical-align: top;
}

.village-townhouse-params-ext2-row {
    border-bottom: 1px solid #e5e5e5;
}

.village-townhouse-params-ext2-row-label {
    font-weight: bold;
    width: 190px;
}

.village-townhouse-params-ext2-row-value {
}

.subcategories-list-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
}

.subcategories-list-title a {
    color: #333;
}

.article-prevnext {
}

.article-prevnext-col table {
    width: 100%
}

.article-prevnext-col table td:first-child {
    width: 220px;
}

.article-prevnext-col table td {
    vertical-align: top;
}

.article-prevnext-col-label {
    padding: 0 0 10px 20px;
}

.article-prevnext-col-title {
    padding: 0 0 10px 20px;
}

.header-first-line-menu-item-logo {
    border: none;
    padding: 0px 0 0 0;
}

.village-documents {
}

.village-documents-item {
    padding: 5px 0
}

.village-documents-item i {
    padding: 0 5px 0 0
}

.field-feedback-captcha .control-label {
    display: none;
}

#feedback-captcha-image {
    max-width: 100%;
    position: relative;
    top: -5px;
}

.show-hidden-data {
    cursor: pointer;
}

.village-contacts-map-container {
    position: relative;
    margin-bottom: 20px;
}

.village-contacts-map {
    height: 600px;
    width: 100%;
}

.village-contacts-float {
    background-color: #fff;
    bottom: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    min-height: 200px;
    padding: 10px;
    position: absolute;
    right: 10px;
    width: 370px;
}

.offer-show-on-map {
    color: #1e6af5;
    border-bottom: dashed 1px;
    cursor: pointer;
}

#view-request-form {
}

.village-images {
}

.village-images-item {
    padding: 0 15px 30px 15px;
    position: relative
}

.village-images-item  .hover {
    background: rgba(0, 0, 0, 0) url("../img/slides-hover-ico.png") no-repeat scroll center center;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.15s linear 0s;
    width: 100%;
    z-index: 2;
}

.village-images-item:hover .hover {
    opacity: 1
}

.field-villagereview-text label {
    display: none;
}

.field-villagereview-name label {
    display: none;
}

.field-villagereview-rating_1 {
    display: none;
}

.field-villagereview-rating_2 {
    display: none;
}

.field-villagereview-rating_3 {
    display: none;
}

.field-villagereview-rating_4 {
    display: none;
}

.field-villagereview-rating_5 {
    display: none;
}

.banner.banner-pos-realt_center_bottom p,
.banner.banner-pos-village_center_bottom p,
.banner.banner-pos-category_village_center_2 p,
.banner.banner-pos-category_realt_center_2 p {
    margin: 0;
    padding: 0;
}

.banner.banner-pos-village_center_bottom,
.banner.banner-pos-realt_center_bottom,
.banner.banner-pos-category_village_center_2,
.banner.banner-pos-category_realt_center_2 {
    padding-bottom: 30px;
}

.offer-large-item-bestoffer {
}

.banner {
    padding-bottom: 20px;
}

.block-showmore {
    padding-top: 8px;
}

.filter .filter-row:last-child {
    margin-bottom: 0;
}


/* RESPOND */

.navbar-toggle .icon-bar {
    background: #1C8A0E;
}


@media screen and (max-width: 1270px) {
    .container {
        width: auto;
    }
    /* header */
    .header-first-line-menu-item {
        padding: 7px;
        text-align: center;
    }
    .header-first-line-menu-item_btn1,
    .header-first-line-menu-item_search {
        width: 16%;
    }
    .header-first-line-menu-item_btn2 {
        width: 10%;
    }
    .header-first-line-menu-adress {
        left: 13%;
    }

    /* content */
    .slick .slick-arrow.slick-next::before,
    .slick .slick-arrow.slick-prev::before {
        font-size: 20px;
    }
    .slick .slick-arrow.slick-next {
        right: -20px;
    }
    .slick .slick-arrow.slick-prev {
        left: -30px;
    }
    .slick .slick-arrow {
        width: 20px;
    }
    .carousel-l {
        margin: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    h1, .like-h1 {
        font-size: 30px;
    }
    .header-first-line-menu-item_search {
        display: block;
        padding: 0;
        border: none;
        width: 200px;
        position: absolute;
        left: 0;
        top: 86px;
    }
    .header-first-line-menu-item_btn1,
    .header-first-line-menu-item_btn2 {
        width: 18%;
    }
    #header_menu {
        clear: both;
    }
    .header-menu {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .header-menu > div {
        width: 100%;
        flex: auto;
    }
    .header-menu > div > a {
        text-align: left;
        padding: 10px 0;
        border-top: 1px solid #eee;
    }
    .header-menu .dropdown {
        position: static;
        display: block;
        background: #eee;
    }
    
    .block.padding {
        padding: 15px;
    }

    .village-ads-body td {
        width: auto;
        display: block !important;
        margin: 0;
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    .header-third-line {
        margin-bottom: 15px;
    }
    .header-first-line-menu-item {
        padding: 0;
        border: none;
        min-height: auto;
    }
    .header-first-line-menu-item_search {
        top: 64px;
    }
    .header-first-line-menu-item-logo {
        width: 180px;
    }
    .header-first-line-menu-adress {
        text-align: left;
        left: 50%;
        top: 15px;
        width: auto;
    }
    .breadcrumb {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .realt-slides .pagination li {
        width: 20%;
    }
    .rating-total-extended-body td {
        width: auto;
        display: block !important;
        margin: 0;
        padding: 0;
    }
    .rating-total-extended-body tr {
        display: block;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 420px) {
    .header-first-line-menu {
        height: 95px;
    }
    .header-first-line-menu-item_search {
        top: 98px;
    }
    .header-first-line-menu-adress {
        top: 65px;
        left: 0;
        right: 0;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
}

.subcategory{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    position: absolute;
    background: #fff;
    overflow: auto;
    z-index: 99;
    display: none;
    top: 25px;
    left: 34px;
    height: 170px;
    width: 160px;
}
.drpdwn{
    position: relative;
}
.drpdwn:hover .subcategory{
    display: block;
}